.container {
    /* background-color: yellow; */
    height: 800px;
    width: 400px;
    display: table;
}
.item {
    /* background-color: yellowgreen; */
    display: table-cell;
    vertical-align: middle;
}
.form-group, .form-check {
    margin-bottom: 10px;
}
label {
    margin-bottom: 5px;
}
button {
    margin-right: 5px;
}
.box-center-x {
    position: relative;
}
  
.box {
    width: 50%;
    height: 70%;
    margin: auto;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
  
.button-center {
    display: table;
    margin: auto;
}
  
#vote {
    margin-right: 50px;
    width: 100px;
    height: 50px;
}
  
.list {
    overflow:auto; 
    width:800px; 
    height:300px;
}