.container {
    /* background-color: yellow; */
    height: 800px;
    width: 400px;
    display: table;
}
.item {
    /* background-color: yellowgreen; */
    display: table-cell;
    vertical-align: middle;
}
.form-group, .form-check {
    margin-bottom: 10px;
}
label {
    margin-bottom: 5px;
}
button {
    margin-right: 5px;
}